body {
  overflow: hidden;
  font-family: Gill Sans;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
#c {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
}
.block {
  width: 50vw;
  height: 200px;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
  z-index: 10;
}
.block h1 {
  font-weight: normal;
  letter-spacing: 0.5em;
}
.block h1 b {
  font-weight: 800;
}
.block span {
  font-weight: lighter;
}
.block input {
  font-family: Gill Sans;
  font-weight: lighter;
  border: 2px solid #eee;
  line-height: 16px;
  border-radius: 16px;
  padding-left: 10px;
  margin: 2px;
  outline: none;
}
.block a {
  margin: 8px;
  margin-top: 40px;
  padding: 16px;
  border-radius: 60px;
  line-height: 60px;
  background: #f33;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}
