headers = 40px
fsize = 2.2

.header
  display inline-block
  width 100vw
  height headers
  background #f3f3f3
  font-size unit(fsize,em)
.sm
  font-weight lighter
  font-size unit(fsize/4,em)
  margin 10px
  &:after
    font-weight bolder
    font-size unit(fsize,em)
    content ' / '
.menu
  float right
.logo
  float left
  font-weight normal
  margin-left 20px
  letter-spacing unit(fsize/10,em)
  line-height headers
  b
    font-weight 800
a
  line-height headers
  text-decoration none
input
  font-size unit(fsize/2.5,em)
  font-family Gill Sans
  font-weight lighter
  border 2px solid #eee
  line-height 16px
  border-radius 16px
  padding-left 10px
  margin 2px
  margin-right 20px
  outline none
