div(class=styles.main)
  #back(class=styles.back)
  div(class=styles.login)
    h1(class=styles.h1) s /
      b i
      | c e
    span регистрация / вход
    br
    input(placeholder='телефон')
    br
    input(placeholder='nickname')
    br
    a(href='#') GO
